extends /layout/_default-layout

prepend config-block
  - page_name = '可視感'

//- append stylesheet-block

//- append javascript-block

block content-block
  .kashikan-top
  .kashikan_main
   .kashikan_introduction
    h2 「可視感」
    p 東京大学生産技術研究所には、100を超える研究室があります。<br>
     | そこではナノスケールの物理現象から地球環境まで、最先端の色々な研究が進められています。<br>
     | ここに最近、デザインの研究室が加わりました。<br>
     | 工学とデザインが一緒になり、人と技術のもっと豊かな関わりを探る試みです。<br>
     | この展示では、そんな研究から生まれた数々のプロトタイプを、<br>
     | 背景に秘められた技術とともにご紹介します。 <br>
     | 機械に人の心を読ませてみると、義足に美意識をまとわせてみると、<br><br>
     | バスケットボール大の探査機をたくさん海に浮かべてみると……<br>
     | 研究と研究の新しい組み合わせによって、<br>
     | 想像に描いてきた「もしかする未来」の姿が、少しずつ見え始めてきています。<br><br>
     | 白井 章平  「一万円商店」<br>
     | 宮野 有史  「レーザー四角形」<br>
     | 永田 俊輔  「文字」<br>
     | 野口 千紘  「パラレルワールド」<br>
   .kashikan_outline
    h2 開催概要
    p 日時 : 2019年8月9日~8月14日 11:00〜19:00<br>
     | 料金 : 無料 / 写真可<br>
     | 場所 : 新宿眼科画廊 東京都江東区三好4 -1- 1 [ MAP ] JR新宿駅東口より徒歩7分<br>
     | ハッシュタグ : #可視感<br>
   .kashikan_footer
    h2 News
    p facebook埋め込みたい
    p.copyright Copyright © KASHIKAN All rights reserved.